*.pyc
Thumbs.db
.DS_Store
docs/research

src/EpsilonLog.txt

.settings/org.eclipse.wst.html.core.prefs

EpsilonLog.txt

src/Environment

media

bin/Log.txt

bin/settings.cfg

epsilon/pyui

old/

src/profile.txt

src/EpsilonLog.txt

src/UnitTests/InteractiveConsoleTest.py

src/UnitTests/InheritanceTest.py

src/UnitTests/SingletonTest.py

tests

tests/randtest.py

tests/starfield.py

epsilon.sublime-project

epsilon.sublime-workspace

docs/design\ docs\TODO.rtf

docs/design docs/TODO.rtf
